<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
	
<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/pastel-stream.css" />
	<script src="../static/js/jquery-2.1.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/font-awesome.min.css" />
	<script>
		$(function(){
		$("#header").load("header.html"); 
    });
</script>
</head>
<div id="header"></div>
<div class="row">
<div  class="col-sm-offset-3 col-sm-6" style="background-color:E6E6DC;height:100%;margin=0">
		      <h2 align="right" dir="rtl">دریافت و انتقال مبلغ از حساب</h2>
	  <br>
	  <p align="right" dir="rtl">لطفا مبلغ مورد نظرتان را در قسمت مربوطه وارد کنید</p>
	  <br>
	  <p align="right" dir="rtl">در صورت انتخاب و پرداخت مبلغ امکان پس گرفتن پول از طریق وبسایت ممکن نیست.</p>
	  <br>
      <p align="right" dir="rtl">مبلغ مورد نظر شما از حساب شما به حساب مربوطه انتقال می یابد</p>
	  <br>
	  
	  
	  <p align="right" dir="rtl" style="">در صورت بروز هرگونه مشکل مورد را در قسمت گزارش آنلاین با سایت در میان بگذارید.</p>
	  <form class="form-horizontal" role="form">
        <div class="form-group">
          
          <div class="col-sm-10">
            <input type="number" class="form-control" id="money" placeholder="مبلغ مورد نظرتان را وارد نمایید" style="float:right;text-align:right">
          </div>
		  <label class="control-label col-sm-2" for="money">:مبلغ</label>
        </div>
        
        <div class="form-group">
          
          <div class="col-sm-10">
            <input type="number" class="form-control" id="money" placeholder="شماره کارت مقصدتان را در این قسمت وارد کنید" style="float:right;text-align:right">
          </div>
		  <label class="control-label col-sm-2" for="money">:مقصد</label>
        </div>
		<div class="form-group">        
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default" style="float:right">پرداخت</button>
          </div>
        </div>
        
      </form>
		
		
		
		</div>
		</div>
	</html>