<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  </head>

  <body background="me.jpg">
    <div class="container" style="float:right">
      <h2>پرداخت مبلغ افزایش حساب</h2>
	  <br>
	  <p>لطفا مبلغ مورد نظرتان را در قسمت مربوطه وارد کنید</p>
      <p>مبلغ مورد نظر شما در وهله ی اول به حساب سایت و شرکت واریز میگردد</p>
	  <p>حساب شرکت به نام آقایان علی اتقائی،محمد دولتشاه می باشد</p>
	  <p>در صورت بروز هرگونه مشکل مورد را در قسمت گزارش آنلاین با سایت در میان بگذارید.</p>
	  <form class="form-horizontal" role="form">
        <div class="form-group">
          
          <div class="col-sm-10">
            <input type="number" class="form-control" id="email" placeholder="مبلغ مورد نظرتان را وارد نمایید" style="float:right">
          </div>
		  <label class="control-label col-sm-2" for="money">مبلغ پرداخت به ریال:</label>
        </div>
        
        <div class="form-group">        
          <div class="col-sm-offset-2 col-sm-10">
            <div class="radio">
			<nav>
			<div style="float:right;width:25%">درگاه بانکی دلخواهتان را انتخاب نمایید:</div>
				<div style="float:right;width:25%;background:white">
              <label><input type="radio">بانک ملت</label>
			  <div style="width:25%;float:right">
			  <img src="me.jpg" class="img-responsive img-circle" alt="Cinque Terre"> 
			  </div>
			  </div>
			  <div style="float:right;width:25%;background:grey">
				<label><input type="radio">بانک سامان</label>
				<div style="width:25%;float:right">
			  <img src="me.jpg" class="img-responsive img-circle" alt="Cinque Terre"> 
			  </div>
				</div>
			</nav>
			</div>
          </div>
        </div>
        <div class="form-group">        
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">پرداخت</button>
          </div>
        </div>
      </form>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>

</html>