<html>
<head>
<meta charset="utf8" />
<link rel="stylesheet" type="text/css" href="../static/css/footer.css">
</head>
<body>
<div id="footer">

<div id="about">
<p>درباره ما</p>
<p>تماس با ما</p>
<p>بایگانی پروژه ها</p>
<p>حریم خصوصی</p>
</div>
<div id="how">
<p>پیام دیزاین چگونه کار می کند</p>
<p>پرسشهای متداول</p>
<p>وبلاگ</p>
<p>قوانین</p>
</div>
<div id="users">
<p><b>کاربران برتر :</b></p>
<p>ایرج احمدی</p>
<p>محمد دولتشاه</p>
<p>علی اتقایی</p>
<p>عزیزاحمد نورزایی</p>
</div>
<div id="projects">
<p><b>آخرین پروژه ها :</b></p>
<p>پروژه 1</p>
<p>پروژه 2</p>
<p>پروژه 3</p>
<p>پروژه 4</p>
</div>
<div id="copyright">تمامی حقوق متعلق به گروه پیام دیزاین می باشد ©</div>
</div>
</body>

</html>