<html> 
  <head>
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>  
     
    <script> 
    $(function(){
      $("#includedContent").load("deposit.html");
		$("#bardasht").load("deposit.html");
    });
    </script> 
  </head> 

  <body> 
	<div style="background:red;width:100%;height:10%">header</div>
	<div class="container" style="width:100%;height:80%;background:green">
	<div class="links" style="float:right;height:100%;width:20%;background:blue;overflow:scroll">link</div>
	<div style="float:right;height:100%;width:80%;background:grey;overflow:scroll" class="mataleb">
	<div class="ecconomic" style="width:100%;height:50%>
	<div style="width:50%;float:right;background:black"></div>
	<div id="includedContent" style="width:50%;float:right"></div>
	</div>
	<div class="table" id="savabegh" style="background:red"><div>
	</div>
	
	</div>
	<div style="width:100%;height:10%;background:yellow">footer</div>
	
	
	
	
	<!--<div style="height:20px;width:100px;float:right"></div>
     <div id="includedContent" style="float:right"></div>
	 <div>table haye savabeghe pooli bankie taraf</div>-->
  </body> 
</html>