<title>پیام دیزاین</title>
{% include "header.html" %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="/static/css/style.css" rel="stylesheet" type="text/css" />
<link href="/static/css/main.css" rel="stylesheet" type="text/css" />
<script src="/static/js/jquery-1.11.0.min.js"></script>

</head>

<body>
<div id="header"></div>
<div class="containers">

<div id="head">
<p>انجام سریع و آسان طرح های گرافیکی</p>
</div>
<div id="how-to">
<div id="create-project">
<div class="header">
1
</div>
<div class="background">
</div>
<div class="digest">
ابتدا یک پروژه ی جدید ایجاد کنید و ویژگی های لازم برای طرح گرافیکی مورد نیاز خود را تشریح کنید
</div>
</div>

<div class="next">
</div>

<div id="offer">
<div class="header">
2
</div>
<div class="background">
</div>
<div class="digest">
طراحان سایت, با توجه به توضیحات شما طرح اولیه ی خود را برای پروژه ی شما ثبت می کنند
</div>
</div>

<div class="next">
</div>

<div id="choose">
<div class="header">
3
</div>
<div class="background">
</div>
<div class="digest">
طرح های پیشنهادی را مشاهده کنید, با طراحان ارتباط برقرار کنید , طرح های آنها را به طرح  مد نظر خود نزدیک کنید و یک طرح را انتخاب کنید
</div>
</div>

<div class="next">
</div>

<div id="pay">
<div class="header">
4
</div>
<div class="background">
</div>
<div class="digest">
بعد از انتخاب یک طرح, کار شما با یک طراح شروع می شود و بعد از تکمیل طرح, دستمزد طراح را ارسال و طرح خود را دریافت کنید
</div>
</div>

</div>

<div id="more-help">
به توضیحات بیشتری احتیاج دارید؟ <a href="#">کلیک کنید.</a>
</div>

</div>

</body>
</html>
