{% if form.offerlist or form.acceptedOffer %}
<div id="offers">
<div class="col-offers">
{% for offer in form.offerlist %}
{% if forloop.counter0|add:"0"|divisibleby:"3" %}
<div class="inner">
<div class="image">
<div class="img"><img class="offered_image" src="{{STATIC_URL}}offeringfiles/{{offer.image}}" alt=""/></div>
<div class="hover"><a href="#" data-toggle="modal" data-target="#zoom"><img src="{{STATIC_URL}}images/zoom.png" /></a></div>
</div>


<div class="designer"><div class="name">
<a href="/{{offer.offerer.user.username}}/">{{offer.offerer.user.username}}</a>
</div>
<div class="rate">
<div class="rating">
<span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
</div>
</div>
<div class="c"></div>
</div>
<div class="comment">
<div class="latent">
</div>
<div class="commentChild">
<table>
	<tr>
		<td>قیمت پیشنهادی	:</td><td>{{offer.totallValue}} تومان</td>
	</tr>
	<tr>
		<td>پیش پرداخت درخواستی	:</td><td>{{offer.value}} تومان</td>
	</tr>
	<tr>
		<td>تعداد روزهای مورد نیاز	:</td><td>{{offer.offerDay}} روز</td>
	</tr>
	</table>
<table>
<tr>
	<td>توضیحات	:</td>
</tr>
<tr>
	<td><div>{{offer.text}}</div></td>
</tr>


</table>
</div>
</div>
</div>
{% endif %}
{% endfor %}
</div>

<div class="col-offers">
{% for offer in form.offerlist %}
{% if forloop.counter0|add:"2"|divisibleby:"3" %}
<div class="inner">
<div class="image">
<div class="img"><img class="offered_image" src="{{STATIC_URL}}offeringfiles/{{offer.image}}" alt=""/></div>
<div class="hover"><a href="#" data-toggle="modal" data-target="#zoom"><img src="{{STATIC_URL}}images/zoom.png" /></a></div>
</div>
<div class="designer"><div class="name">
<a href="/{{offer.offerer.user.username}}/">{{offer.offerer.user.username}}</a>
</div>
<div class="rate">
<div class="rating">
<span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
</div>
</div>
<div class="c"></div>
</div>
<div class="comment">
<div class="latent">
</div>
<div class="commentChild">
<table>
	<tr>
		<td>قیمت پیشنهادی	:</td><td>{{offer.totallValue}} تومان</td>
	</tr>
	<tr>
		<td>پیش پرداخت درخواستی	:</td><td>{{offer.value}} تومان</td>
	</tr>
	<tr>
		<td>تعداد روزهای مورد نیاز	:</td><td>{{offer.offerDay}} روز</td>
	</tr>
	</table>
<table>
<tr>
	<td>توضیحات	:</td>
</tr>
<tr>
	<td><div>{{offer.text}}</div></td>
</tr>


</table>
</div>
</div>
</div>
{% endif %}
{% endfor %}
</div>

<div class="col-offers">
{% for offer in form.offerlist %}
{% if forloop.counter0|add:"1"|divisibleby:"3" %}
<div class="inner">
<div class="image">
<div class="img"><img class="offered_image" src="{{STATIC_URL}}offeringfiles/{{offer.image}}" alt=""/></div>
<div class="hover"><a href="#" data-toggle="modal" data-target="#zoom"><img src="{{STATIC_URL}}images/zoom.png" /></a></div>
</div>
<div class="designer"><div class="name">
<a href="/{{offer.offerer.user.username}}/">{{offer.offerer.user.username}}</a>
</div>
<div class="rate">
<div class="rating">
<span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
</div>
</div>
<div class="c"></div>
</div>
<div class="comment">
<div class="latent">
</div>
<div class="commentChild">
<table>
	<tr>
		<td>قیمت پیشنهادی	:</td><td>{{offer.totallValue}} تومان</td>
	</tr>
	<tr>
		<td>پیش پرداخت درخواستی	:</td><td>{{offer.value}} تومان</td>
	</tr>
	<tr>
		<td>تعداد روزهای مورد نیاز	:</td><td>{{offer.offerDay}} روز</td>
	</tr>
	
	
</table>
<table>
<tr>
	<td>توضیحات	:</td>
</tr>
<tr>
	<td><div>{{offer.text}}</div></td>
</tr>
</table>
</div>
</div>
</div>
{% endif %}
{% endfor %}
</div>

</div>
<br class="clear" />






{% else %}
<div class="alert alert-info" style="text-align:center; margin-top:30px;">هنوز هیچ پیشنهادی ثبت نشده است!</div>
{% endif %}
