<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>پروژه بعد از شروع</title>
{% load staticfiles %}

<link href="{% static "css/style.css" %}" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}" />
<link href="{% static "css/PFERASstyle.css" %}" rel="stylesheet" type="text/css" />
<script src="{% static "js/jquery-2.1.1.min.js" %}"></script>
<script src="{% static "js/script.js" %}"></script>
<!-- Include the plugin *after* the jQuery library -->
<script src="{% static "slider/js/bjqs-1.3.min.js" %}"></script>
<!-- Include the basic styles -->
<link type="text/css" rel="Stylesheet" href="{% static "slider/bjqs.css" %}" />
<link rel="stylesheet" href="{% static "slider/demo.css" %}">
<script type="text/javascript">
  function sendFile(file){
   location.href="/addfile/" + {{form.youroffer.id}} + "/" + $('input[type=file]').val();
  }
</script>
<script type="text/javascript">
    function addFile(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (event) {
                
                $('.blah2')
                    .attr('src', event.target.result)
                    .width(220)
                    .height(220);
            };
            $('.upload_image2').attr('value', $('input[type=file]').val());
       reader.readAsDataURL(input.files[0]);
        }
    }

</script>
<script class="secret-source">
       jQuery(document).ready(function($) {

      $('#my-slideshow').bjqs({
          height      : 220,
          width       : 220 ,
          responsive  : true,
          centermarkers : true,
          showcontrols : false,
          automatic : false
          });
        });
</script>

</head>

<body>

{% include "header.html" %}

<div class="containers">

{% if form.sue %}
  {% ifequal form.sue.is_otherside_give_money True %}
  <div class="alert alert-info" style="text-align:center; direction: rtl;"> هر دو طرف قرارداد پروژه هزینه قضاوت را قبول کردند. این پروژه به زودی در فرآیند قضاوت قرار خواهد گرفت </div>
  {% else %}
  {% ifequal form.sue.suer form.user.userprofile%}
  <div class="alert alert-info" style="text-align:center; direction: rtl;">شما از کارفرمای خود شکایت کرده اید.کارفرمای شما ۷ روز از زمان شکایت فرصت دارد که برای قضاوت اقدام کند در غیر این صورت قضاوت به صورت اتوماتیک به نفع شما تمام خواهد شد</div>
  <hr>
  <div class="alert alert-info" style="text-align:center; direction: rtl;">زمان شکایت: {{form.sue.sueTime}}</div>
  {% else %}
  <div class="alert alert-info" style="text-align:center; direction: rtl;">کارفرمای شما از شما شکایت کرده است و شما تا ۷ روز از زمان شکایت فرصت دارید که اقدام کنید در غیر این صورت قضاوت به صورت اتوماتیک به نفع کارفرما تمام خواهد ش‍‍‍‍‍‍د</div>
  <hr>
  <div class="alert alert-info" style="text-align:center; direction: rtl;">زمان شکایت: {{form.sue.sueTime}}</div>
  <input type="button" onclick="react({{form.sue.id}})"  value="اقدام" >
{% endifequal %}
  {% endifequal %}
  {% endif %}
  
  {% if form.project.is_wait_for_employer %}
<div class="alert alert-info" style="text-align:center; direction: rtl;"> شما در
  {{form.project.wait_for_employer_date}}
  از کارفرمای خود درخواست کرده اید که پروژه را انجام شده اعلام کند <br>
  اگر کارفرمای شما تا ۷ روز اقدامی انجام ندهد به صورت اتوماتیک مبلغ بیعانه کارفرما به حساب شما واریز خواهد شد </div>
{% endif %}
  
  {% if form.project.is_denied %}
<div class="alert alert-info" style="text-align:center; direction: rtl;"> کارفرمای شما ادعای کامل شدن پروژه توسط شما را مردود اعلام کرده است <br>
  شما میتوانید با کارفرما مکاتبه داشته باشید یا از او شکایت کنید </div>
{% endif %}
  
  {% if not form.is_time_remain %}
<div class="alert alert-info" style="text-align:center; direction: rtl;">مهلت انجام پروژه به اتمام رسیده است</div>
{% endif %}


{% include "projectForEmployeeDescription.html" %}

{% include "separator2.html" %}

{% include "containerAfterStart.html" %} 

<div class="modal fade" id="file" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
       
            <h4 class="modal-title" id="myModalLabel">افزودن فایل</h4>
            </div>
            <div class="modal-body">
                    <div class="files">
                        <input type="file" name="input_image" onchange="addFile(this);">
                        <div class="img">
                        <img class="blah2" src="#" alt=""/>
                        </div>
                    </div>
                    <input  name="image" class="upload_image2" value="" style="visibility:hidden;">
            </div>
            <div class="c"></div>
            <div class="modal-footer">
            	<button id="fileButton" type="submit"  class="btn btn-success" onclick="sendFile()" data-dismiss="modal">ارسال</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">انصراف				</button>
                
        </div>
    </div>
  </div>
</div>

<div class="modal fade" id="send-message" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
       
            <h4 class="modal-title" id="myModalLabel">ارسال پیغام</h4>
            </div>
            <div class="modal-body message">
                <textarea rows="5" cols="70"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">ارسال</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">انصراف               </button>
                
        </div>
    </div>
  </div>
</div>  
    

<div class="modal fade" id="zoom" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body zoomed-img">
                <img src="{{STATIC_URL}}images/design.jpg" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">بستن             </button>
        </div>
    </div>
  </div>
</div>

<script type="text/javascript">
$( "#chat" ).load( "/chat/{{form.project.employee.userprofile.id}}/{{form.project.id}}")
</script>

<script type='text/javascript '> 

function react(id)
{
  var ver = confirm('آیا مطمئن هستید؟ در صورت ادامه ۱۰۰۰۰ تومان از حساب شما کاسته خواهد شد ولی در صورت عدم صحت شکایت طرف قرار داد شما این مبلغ به  حساب شما برگشت داده خواهد شد' );
  if (ver)
    window.location.href= '/react/'+id;

}

function sue(id)
{
  var ver = confirm(' آیا مطمئن هستید؟ در صورت ادامه ۱۰۰۰۰ تومان از حساب شما کاسته خواهد شد ولی در صورت صحت شکایت شما این مبلغ به حسابتان برگشت داده خواهد شد');
  if (ver)
    window.location.href= '/sue/'+id;

}


function cancel(projectid)
{
  var ver = confirm('آیا مطمئن هستید؟ عملیات کنسل کردن پروژه هزینه ی ۱۰۰۰۰ تومان یا ۱۰ درصد از هزینه پروژه شما را دربر خواهد داشت' );
  if (ver)
    window.location.href= '/cancel/'+projectid;            

}

function showcomplete()
{
  document.getElementById('complete').innerHTML = 'این عملیات به کارفرما اخطار میدهد تا در ۷ روز اقدام کند ';
}

function hidecomplete()
{
  document.getElementById('complete').innerHTML = '';
}


function complete(projectid)
{
  window.location.href= '/completeByEmployee/'+projectid;
  
  
}

</script> 

<script type="text/javascript">
    $(".image").mouseover(function(){$(".zoomed-img").find("img").attr('src', $(this).find(".offered_image").attr('src'))});
</script>

</body>
</html>
