<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<title></title>
<script src="../static/js/jquery-2.1.1.min.js"></script>
</head>
<body>

<div class="container">
					<h3 style="margin-top:30px ; margin-bottom:30px">سفارش پروژه جدید :</h3>
					<hr>
					<form role="form" class="form-popover" action="/new-project/" method="post" >
					{% csrf_token %}
					<hr>
					<div class="row">
							<div class="col-sm-6">
							<div class="form-group">
									<label  class="control-label">فایل ضمیمه برای پروژه:</label>
									<label class="checkbox-inline">
									<div  name="files" id="fileuploader"  accept=".zip,application/zip" >انتخاب فایل</div>
									 <button class="btn btn-info" id="startUpload" style="display:none">شروع بارگزاری فایل انتخاب شده</button>  
									
									<span class="help-block">{{ form.file.errors }}</span>
									</label>
								</div>
						</div>
						</div>
					<hr>
					<br>
					<div class="form-group">
							<div class="col-md-offset-4 col-md-4">
							<button id="startUpload" type="submit" class="btn btn-success btn-block btn-lg">ثبت پروژه</button>
						</div>
						</div>
				</form>
				</div>
</body>

<script type="text/javascript">
$(document).ready(function()
{
	var uploadObj = $("#fileuploader").uploadFile
	({
	
	url:"/uploadProjectFile/",
	fileName:"myfile",
	multiple:false,
	autoSubmit:true,
	showCancel:true,
	showAbort:true,
	showDone:false,
	showDelete:false,
	showProgress:true,
	uploadButtonClass:"btn btn-default",
	allowedTypes: "zip",
	extErrorStr: "فرمتی فایلی که انتخاب کرده اید zip نمیباشد",
	sizeErrorStr: "حجم فایل انتخاب شده بیشتر از 5 مگابایت میباشد",
	
	maxFileSize:5*1049*999.5,
	maxFileCount:1,
	
	onSelect:function(files)
	{
		//$("#submit").attr("disabled",true);
		//$("#startUpload").show();
		files[0].name;
		return true; //to allow file submission.
	},
	
	showStatusAfterSuccess:true,
	dragDropStr: "<span><b> میتوانید فایلهای مربوط به پروژه را با فرمت zip فشرده کرده و با موس به این ناحیه بکشید ( حداکثر حجم 5 مگابایت ) </b></span>",
	abortStr:"خارج شدن",
	cancelStr:"لغو کردن",
	doneStr:"شروع بارگزاری فایل",
	deleteStr:"پاک کردن",
	
	onSuccess:function(files,data,xhr)
	{
		if (data=='-1')
			alert('فایل با فرمت zip آپلود نشده است')
		if (data=='-2')
			alert('حجم فایل بیشتر از 5 مگابایت است')
			
		
	},
	
	
	afterUploadAll:function()
	{
		$("#submit").attr("disabled",false);
	
	},
	
	

	
	
	});
	
	$("#startUpload").click(function()
	{
		uploadObj.startUpload();
	});	
	
	
	
	
});
</script>

</html>

