.containers
{
	width:970px;
	height:650px;
}

#contact
{
	width:970px;
	height:90%;
	padding-top:50px;
}

#my-slideshow
{
	width:220px;
	height: 220px;
	border: 1px solid rgba(86,61,124,.2);
	overflow:visible;
}

#chat
{
	width:650px;
	height:auto;
	border: 1px solid rgba(86,61,124,.2);
	float:left;
	padding:10px;
}

#slider
{
	width:300px;
	height:100%;
	border: 1px solid rgba(86,61,124,.2);
	float:right;
	padding:40px;
}

