		{% ifequal item "pace" %}
		سرعت عمل
		{% endifequal %}
		
		
		{% ifequal item "quality" %}
		کیفیت
		{% endifequal %}
		
		{% ifequal item "connectivity" %}
			بر قراری تماس
		{% endifequal %}
			
		
		{% ifequal item "paceInPay" %}
				سرعت در پرداخت
		{% endifequal %}
		
		
		{% ifequal item "clarity" %}
			شفافیت در توضیحات
		{% endifequal %}
		
		
		{% ifequal item "tact" %}
			مهارت
		{% endifequal %}
		
		
		{% ifequal item "willing" %}
				علاقه مندی به ادامه همکاری
		{% endifequal %}
	