{% extends "head-tag.html" %}
{% block title %}پرسش های متداول{% endblock %}
{% block meta %}
<meta name="description" content="پرسش های متداول ، چگونه در زیرند پروژه ایجاد کنم؟">
{% endblock %}
{% block content %}
<div class="container container-lg">
	<ol class="breadcrumb">
		<li><a href="/">خانه</a></li>
		<li class="active">پرسش های متداول</li>
	</ol>
</div>
<div id="rules" class="container container-md">
	<div class="panel panel-default">
		<div class="panel-body">
			<h3 style="margin-top:30px ; margin-bottom:30px">پرسش های متداول</h3>
			<hr>
			<h4>چه نوع پروژه هایی در زیرند قابل انجام است؟</h4>
			<ul>
				<li> هر نوع پروژه ای که نیازمند ارتباط حضوری پیمانکار و کارفرما نباشد در زیرند قابل انجام است.</li>
			</ul>
			<h4>چه مهارت هایی در زیرند وجود دارد؟</h4>
			<ul>
				<li>مهارت های موجود در زیرند به مهارت ها و تخصص های کاربران آن وابسته است. برای افزایش مهارت های موجود در زیرند شما می توانید زیرند را به دیگران معرفی کنید.</li>
			</ul>
			<h4>چه تضمینی وجود دارد که پروژه من با کیفیت مطلوب انجام شود؟</h4>
			<ul>
				<li>شما هزینه انجام پروژه را در سایت به امانت می گذارید و پس از دریافت پروژه و در صورت رضایت از کیفیت آن هزینه را برای پیمانکار آزاد می کنید. به علاوه برخی پیمانکاران مبلغی را به عنوان ضمانت اجرایی در سایت به امانت می گذارند که در صورت عدم تکمیل به موقع پروژه این مبلغ به شما تعلق خواهد گرفت. </li>
			</ul>
			<h4>در صورت عدم رضایت کارفرما از کیفیت پروژه انجام شده توسط پیمانکار چه اتفاقی خواهد افتاد؟</h4>
			<ul>
				<li>در این صورت کارفرما باید بازخورد دقیقی از کار انجام شده و دلایل عدم رضایت خود را به پیمانکار اطلاع دهد و پیمانکار نهایتا تا 7 روز کاری فرصت دارد تا موارد ذکر شده توسط کارفرما را انجام دهد. در غیر این صورت شما می توانید برای استرداد پیش پرداخت خود اقدام کنید. برای کسب اطلاعات بیشتر به <a href="/terms/#b5-1"> «قوانین استرداد پیش پرداخت»</a> مراجعه کنید.</li>
			</ul>
			<h4 id="b5">چرا نباید خارج از سایت و به طور مستقیم با پیمانکار/کارفرما ارتباط برقرار کنم؟</h4>
			<ul>
				<li>رد و بدل کردن اطلاعات تماس خلاف قوانین سایت می باشد زیرا در صورتی که در روند اجرای پروژه اختلافی ایجاد شود معیار قضاوت زیرند بین دو طرف تنها مکاتبات و فایل های مبادله شده در سایت می باشد.<br> به علاوه در صورتی که تحویل پروژه و یا پرداخت هزینه خارج از سایت صورت گیرد امکان تخلف وجود خواهد داشت. زیرند امکان تبادل وجه مطمئن را برای شما فراهم می کند. به این صورت که کارفرما هزینه انجام پروژه را در سایت به امانت می گذارد و پس از دریافت پروژه خود و در صورت رضایت از کیفیت آن هزینه را برای پیمانکار آزاد می کند. به این ترتیب هم پیمانکار از پرداخت هزینه پس از انجام پروژه مطمئن است و هم کارفرما تا قبل از تحویل گرفتن پروژه پولی پرداخت نمی کند!</li>
			</ul>
		</div>
	</div>
</div>
{% endblock %} 