{% extends "head-tag.html" %}
{% block title %}زیرند چطور کار می کند؟{% endblock %}
{% block meta %}
<meta name="description" content="روش کار زیرند ، چگونه می توانم در زیرند فعالیت کنم؟">
<meta name="keywords" content="پروژه,دانشجویی,کسب درآمد,استخدام,انجام,سفارش,رایگان,رزومه">
{% endblock %}
{% block content %}
<div class="container container-lg">
	<ol class="breadcrumb">
		<li><a href="/">خانه</a></li>
		<li class="active">زیرند چطور کار می کند؟</li>
	</ol>
</div>
<div id="rules" class="container container-md">
	<div class="panel panel-default">
		<div class="panel-body">
			<h3 class="heading">زیرند چطور کار میکند؟</h3>
			<hr>
			<ul>
				<li> شما با ایجاد یک حساب کاربری می توانید به دو طریق در زیرند فعالیت داشته باشید:
					<p>1.	به عنوان کارفرما:  اگر می خواهید انجام پروژه ی خود را به دیگران بسپارید شما یک کارفرما محسوب می شوید.</p>
					<p>2.	به عنوان پیمانکار:  اگر مهارتی دارید و می خواهید در رابطه با مهارت خود پروژه انجام دهید یک پیمانکار محسوب می شوید.</p>
				</li>
			</ul>
			<h4>فعالیت به عنوان کارفرما</h4>
			<ul>
				<li> برای این کار کافی است مراحل زیر را طی کنید:
					<p>I.	یک پروژه جدید ایجاد کنید و بودجه و مهلت انجام پروژه و مهارت های لازم برای انجام پروژه را تعیین کنید.</p>
					<p>II.	پیمانکارانی که مهارت آن ها متناسب با پروژه شما باشد از پروژه شما مطلع خواهند شد و برای پروژه شما پیشنهاد ارسال میکنند.</p>
					<p>III.	شما می توانید با توجه به قیمت پیشنهادی ، رتبه و سابقه کار پیمانکاران بهترین پیشنهاد را انتخاب کنید.</p>
					<p>IV.	هزینه انجام پروژه را نزد ما به امانت می گذارید و پس از دریافت پروژه و تایید کیفیت آن هزینه را برای پیمانکار آزاد کنید.</p>
				</li>
			</ul>
			<h4>فعالیت به عنوان پیمانکار</h4>
			<ul>
				<li>اولین گام برای تبدیل شدن به یک پیمانکار موفق داشتن صفحه پروفایل کامل و معتبر است. صفحه پروفایل در واقع شناسنامه و رزومه ی کاری شما به حساب می آید پس در تکمیل آن دقت کافی را داشته باشید. </li>
				<li>مواردی که  می توانید در پروفایل خود وارد کنید عبارت اند از:
					<p>I.	زمینه هایی که در آن مهارت و تخصص دارید.</p>
					<p>II.	رشته تحصیلی شما</p>
					<p>II.	نمونه کارهای قبلی شما</p>
				</li>
				<li>همچنین بخشی از پروفایل شما به سابقه کارتان در زیرند و رتبه شما در میان کاربران اختصاص یافته است. </li>
				<li> در صورتی که پروژه ای متناسب با مهارت شما در سایت ثبت شود از طریق ایمیل به اطلاع شما خواهد رسید. همچنین این دسته از پروژه های در پنل مدیریت حساب کاربری شما قابل مشاهده می باشند.</li>
			</ul>
			<h4 id="whyzirend">چرا از زیرند استفاده کنم؟</h4>
			<ul>
				<li>زیرند سریع و ارزان است:
					<p>استفاده از خدمات زیرند برای کارفرمایان رایگان است. در زیرند شما میتوانید بدون واسطه و هزینه جانبی به طور مستقیم با پیمانکاران ارتباط برقرار کنید و پروژه خود را در اسرع وقت تحویل بگیرید. صد ها پیمانکار آماده انجام پروژه شما هستند!</p>
				</li>
				<li>زیرند امکان پرداخت مطمئن را برای شما فراهم میکند:
					<p>کارفرما هزینه انجام پروژه را در سایت به امانت می گذارد و پس از دریافت پروژه خود و در صورت رضایت از کیفیت آن هزینه را برای پیمانکار آزاد می کند.
						به این ترتیب هم پیمانکار از پرداخت هزینه پس از انجام پروژه مطمئن است و هم کارفرما تا قبل از تحویل گرفتن پروژه پولی پرداخت نمی کند!</p>
				</li>
			</ul>
			<h4>هزینه فعالیت در زیرند:</h4>
			<ul>
				<li>ثبت نام و ایجاد پروژه و ارسال پیشنهاد قیمت برای پروژه ها در زیرند رایگان است.</li>
				<li>زیرِند 5 درصد یا 5000 تومان (هر کدام که بیشتر باشد) از درآمد پیمانکاران را به عنوان کمیسیون خدمات خود دریافت می کند. برای اطلاعات بیشتر به بخش <a href="/terms/#b7">تعرفه ها</a> مراجعه فرمایید.</li>
			</ul>
		</div>
	</div>
</div>
{% endblock %} 