{% extends "head-tag.html" %}
{% block title %}ورود{% endblock %}
{% block content %}
<div class="container container-sm"> {% if form.errors %}
	<div class="alert alert-danger">
		<p style="color: red;"> لطفا خطاهای زیر را برطرف کنید </p>
	</div>
	{% endif %}
	<div class="panel panel-default">
		<div class="panel-body">
			<h3 class="heading">ورود به سایت</h3>
			<hr>
			
				{% csrf_token %}
				<div class="form-group">
					<label for="username" class="col-md-4 control-label"> نام کاربری یا ایمیل :</label>
					<div class="col-md-8">
						<input type="text" class="form-control" id="username" name="username" placeholder="username" {% if form.set_username %} value="{{form.set_username}}" {% endif %} required>
					</div>
				</div>
				<div class="form-group">
					<label for="password" class="col-md-4 control-label">رمز عبور:</label>
					<div class="col-md-8">
						<input type="password" class="form-control" id="password" name="password" placeholder="password" {% if form.set_username %} value="{{form.set_password}}" {% endif %} required>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-offset-4 col-md-8">
						<button  onclick="submit()" class="btn btn-default">ورود</button>
						<span class="help-block">{{form.errors}}</span> </div>
				</div>
			
			<hr>
			<ul>
				<li><a  href="/signup/">هنوز عضو نشده اید؟ هم اکنون ثبت نام کنید!</a></li>
				<li><a href="/forget/">رمز عبور خود را فراموش کرده اید ؟</a></li>
				<li><a href="/send_verification/">ارسال مجدد ایمیل فعالسازی</a></li>
			</ul>
		</div>
	</div>
</div>
{% endblock %} 

{% block javascript %} 

<script>
	
	function submit()
	{
	
		$.post( "/loginAjax/", { username: $("#username").val() , password: $("#password").val() })
		.done(function( data ) 
		{
			console.log("yes")
		});
	}

</script>
{% endblock %}