<form class="form-horizontal" role="form" action="" method="post">
	{% csrf_token %}
	<div class="form-group">
		<label for="username" class="col-md-4 control-label"> نام کاربری</label>
		<div class="col-md-8">
			<input type="text" class="form-control" id="username" name="username" placeholder="username" {% if form.set_username %} value="{{form.set_username}}" {% endif %} required>
		</div>
	</div>
	<div class="form-group">
		<label for="password" class="col-md-4 control-label">رمز عبور:</label>
		<div class="col-md-8">
			<input type="password" class="form-control" id="password" name="password" placeholder="password" {% if form.set_username %} value="{{form.set_password}}" {% endif %} required>
		</div>
	</div>
	<div class="form-group">
		<div class="col-md-offset-4 col-md-8">
			<button type="submit" class="btn btn-default">ورود</button>
			<span class="help-block">{{form.errors}}</span> </div>
	</div>
</form>