{% extends "head-tag.html" %}
{% block title %}انجام پروژه دانشجویی | پروژه دانشجویی | انجام پروژه{% endblock %}
{% block meta %}
<meta name="description" content="صدها متخصص آماده ی انجام پروژه های دانشجویی | پرداخت هزینه پس از رضایت از کار | پیگیری روند اجرای پروژه به صورت آنلاین | مناسب ترین قیمت در کوتاه ترین زمان">
<meta name="keywords" content="پروژه,دانشجویی,سفارش,انجام,استخدام,سفارش,رایگان">
{% endblock %}
{% block style %}
<style>
#content {
padding-top:0px !important;
}
.footer {
margin-top:0px; !important
}
</style>
{% endblock %}
{% block content %}

<div id="intro">
	<div id="myCarousel" class="carousel slide" data-ride="carousel"> 
		<!-- Indicators -->
		<ol class="carousel-indicators">
			<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			<li data-target="#myCarousel" data-slide-to="1"></li>
			<li data-target="#myCarousel" data-slide-to="2"></li>
		</ol>
		<div class="carousel-inner">
<div class="main-text">
<h1 class="text-center">انجام پروژه های دانشجویی ، مهندسی و نرم افزاری</h1>
</div>			
 <div class="item active">
				<div class="container">
					<div class="carousel-caption">
						<h2>برای انجام پروژه های خود نیاز به کمک دارید؟</h2>
						<h3>مجرب ترین متخصصان آماده همکاری با شما هستند. پروژه خود را سفارش دهید و منتظر پیشنهاد سایر کاربران باشید. مناسب ترین پیشنهاد را انتخاب کنید و پروژه خود را در موعد معین تحویل بگیرید.</h3>
						<p><a class="btn btn-lg btn-success" href="/new-project/" role="button">سفارش پروژه جدید</a></p>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="container">
					<div class="carousel-caption">
						<h2>به دنبال کار پاره وقت هستید؟ </h2>
						<h3>شما تقریبا با هر مهارتی می توانید در زیرند مشغول به کار شوید و پروژه انجام دهید؛ کافی است ثبت نام کنید و مهارت های خود را ثبت کنید؛ در صورتی که پروژه ای مرتبط با مهارت های شما در سایت ثبت شود به شما اطلاع داده خواهد شد.</h3>
						<p><a class="btn btn-lg btn-success" href="/signup/" role="button">همین حالا ثبت نام کنید!</a></p>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="container">
					<div class="carousel-caption">
						<h2>چه نوع پروژه هایی در زیرند قابل انجام است؟</h2>
						<h3>هر نوع پروژه ای که به صورت آنلاین قابل انجام باشد مانند پروژه های دانشجویی ، مهندسی ، نرم افزاری ، برنامه نویسی ، طراحی سایت و طراحی گرافیکی</h3>
						<p><a class="btn btn-lg btn-success" href="/category/" role="button">دسته بندی پروژه ها</a></p>
					</div>
				</div>
			</div>
		</div>
		<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"><span class="icon-next"></span></a> <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"><span class="icon-prev"></span></a> </div>
	<!-- /.carousel --> 
<div id="more">
 <div class="container">
		<div id="enamad">
		<div class="panel panel-default">
		<div class="panel-body">
		<div class="row">
        <div class="col-md-2">
		<div id="enamad-container">
		<iframe src="/static/eNamadLogo.htm" frameborder="0" scrolling="no" allowtransparency="true" style="width: 150px; height:150px;"></iframe>
		</div>
		</div>
		<div class="col-md-10" >
		<h2>دارنده نماد اعتماد الکترونیکی از وزارت صنعت، معدن و تجارت</h2>
		<h3>نماد اعتماد الکترونیکی از سوی مرکز توسعه تجارت الکترونیکی وزارت صنعت، معدن و تجارت به سایت هایی که فعالیت آنان از نظر قانونی مورد تایید است اعطا می گردد و به کاربران این سایت ها اطمینان می دهد که سایت به تعهدات خود در قبال آن ها پایبند خواهد بود و حقوق مشتری را به رسمیت می شناسد.</h3>
		</div>
		</div>
        </div></div>
		</div>
      <div class="row">
        <div class="col-md-4">
		<div class="panel panel-default">
		<div class="panel-body">
          <img class="img-circle" src="/static/img/graduate.jpg" alt="انجام پروژه دانشجویی" style="width: 140px; height: 140px;">
          <h2>تمام رشته های دانشگاهی</h2>
          <h3>انجام پروژه های دانشجویی در رشته های مهندسی برق، مکانیک، معماری، عمران، کامپیوتر، صنایع، هوافضا، شیمی، نفت، مهندسی پزشکی، آمار، مهندسی دریا، گرافیک، طراحی صنعتی، حسابداری، مدیریت، هنر، معدن، فناوری اطلاعات(IT)، راه آهن، مواد، کشاورزی، پلیمر، حقوق و ... </h3>
        </div></div></div>
        <div class="col-md-4">
		<div class="panel panel-default">
		<div class="panel-body">
          <img class="img-circle" src="/static/img/engineering.jpg" alt="انجام پروژه نرم افزاری مهندسی" style="width: 140px; height: 140px;">
          <h2>نرم افزار های مهندسی</h2>
          <h3>انجام پروژه در نرم افزار های متلب matlab | سالیدورک solidworks | انسیس ansys | آباکوس abaqus | ایتبس etabs | فلوئنت fluent | جی ای اس gis | پروتئوس proteus | سیلواکو silvaco | لب ویو labview | تری دی مکس 3ds max | گمز gams | کامسول comsol | digsilent | emtp | دیالوکس dialux | لینگو lingo | لیزرل lisrel | flac | spss | visio | tekla | trnsys | pspice | rational rose | hspice | hfss | hec-ras | کتیا catia | cfd | mathematica | maple | minitab | ns2 | opnet | vensim | latex</h3>
        </div></div></div>
        <div class="col-md-4">
		<div class="panel panel-default">
		<div class="panel-body">
          <img class="img-circle" src="/static/img/programming.jpg" alt="انجام پروژه برنامه نویسی طراحی سایت" style="width: 140px; height: 140px;">
          <h2>برنامه نویسی و طراحی سایت</h2>
          <h3>انجام پروژه های برنامه نویسی در زبان های C++ | جاوا java | سی شارپ C# | jquery | html | php | .NET | SQL | QT | Fortran | Visual Basic | VHDL | اندروید android | ios | پایتون Python | Delphi | Ruby | VBScript | پاسکال Pascal | Perl | OpenCL | OpenGL | JavaScript</h3>
        </div></div></div>
      </div>

</div>
</div>		
</div>
{% endblock %} 