{% if form.errors %}
<div class="alert alert-danger">
	<p style="color: red;"> Please correct the error{{ form.errors|pluralize }} below. </p>
</div>
{% endif %}
<form class="form-horizontal" role="form" action="/mortgageincrease/{{form.project.id}}/0/" method="post" enctype="multipart/form-data">
	{% csrf_token %}
	<div class="form-group">
		<label for="amount" class="col-md-3 control-label">میزان افزایش</label>
		<div class="col-md-4">
			<div class="input-group" title="این مبلغ از حساب کاربری شما کم می شود و تا پایان پروژه در سایت به امانت باقی می ماند.">
				<input type="number" class="form-control" id="amount" name="amount" >
				<span class="input-group-addon">تومان</span> </div>
			<span class="help-block">{{ form.amount.errors }}</span> </div>
	</div>
	<div class="form-group">
		<div class="col-md-offset-3 col-md-9">
			<button type="submit" class="btn btn-default">ثبت</button>
		</div>
	</div>
</form>
