{% extends "head-tag.html" %}
{% block title %}حریم خصوصی{% endblock %}
{% block meta %}
<meta name="description" content="سیاست های حفظ حریم خصوصی کاربران">
{% endblock %}
{% block content %}
<div class="container container-lg">
	<ol class="breadcrumb">
		<li><a href="/">خانه</a></li>
		<li class="active">حریم خصوصی</li>
	</ol>
</div>
<div id="rules" class="container container-lg" >
	<div class="panel panel-default">
		<div class="panel-body">
			<h3 class="heading">سیاست حفظ حریم خصوصی</h3>
			<hr>
			<ul>
				<li> پس از ایجاد حساب کاربری امکان حذف آن توسط شما وجود نخواهد داشت و تنها توسط مدیریت سایت امکان پذیر است. همچنین نام کاربری شما قابل تغییر نخواهد بود.</li>
				<li> شما می توانید اطلاعات شخصی خود را در قسمت ویرایش اطلاعات شخصی ثبت و ویرایش نمایید.این اطلاعات به هیج وجه در اختیار اشخاص حقیقی و حقوقی دیگر قرار نمی گیرد و تنهادر موارد ضروری برای تماس با شما از آن استفاده خواهد شد. </li>
				<li> اطلاعاتی که در صفحه پروفایل خود قرار می دهید برای تمام بازدید کنندگان سایت قابل مشاهده میباشد. </li>
				<li> هنگام بازدید از زیرند اطلاعات مشخصی از شما به صورت خودکار ذخیره میشود. این اطلاعات عبارت اند از:
					<p> 1.آدرس سایتی که از طریق آن به زیرند وارد شده اید. </p>
					<p> 2.تاریخ و زمان ورود شما به سایت و خروج از آن. </p>
					<p> 3.نام و نسخه سیستم عامل شما و مرورگری که از آن استفاده می کنید. </p>
					<p> 4.آدرس IP رایانه شما </p>
					<p> 5.صفحاتی از سایت که شما از آنها بازدید کرده اید. </p>
					از این اطلاعات برای بهبود و توسعه خدمات سایت و مواردی مانند ارزیابی صفحات پربازدید و رصد کاربران متخلف استفاده خواهد شد. لازم به ذکر است که این اطلاعات نزد زیرند محفوظ است. </li>
				<li> کوکی ها فایل های کوچکی هستند که هنگام بازدید از سایت ها بر روی رایانه شما ذخیره میشوند. زیرند از کوکی ها برای بهبود خدمات خود استفاده می کند. در صورتی که کوکی ها در مرورگر شما غیر فعال باشد استفاده از برخی سرویس های زیرند برای شما امکان پذیر نخواهد بود. </li>
				<li>سیاست حریم خصوصی ما ممکن است هر از چند گاهی به دلیل تغییر و توسعه خدمات سایت تغییر کند. این تغییرات از طریق پنل مدیریت به اطلاع کاربران زیرند خواهد رسید.</li>
			</ul>
		</div>
	</div>
</div>
{% endblock %} 