{% extends "head-tag.html" %}
{% block title %}قوانین{% endblock %}
{% block meta %}
<meta name="description" content="قوانین و مقررات استفاده از خدمات سایت زیرند">
<meta name="keywords" content="پروژه,دانشجویی,سفارش,انجام,استخدام,رایگان,تحویل,پرداخت,تعرفه">
{% endblock %}
{% block content %}
<div class="container container-lg">
	<ol class="breadcrumb">
		<li><a href="/">خانه</a></li>
		<li class="active">قوانین</li>
	</ol>
</div>
<div id="rules" class="container container-lg">
	<div class="panel panel-default">
		<div class="panel-body">
			<h3 style="margin-top:30px ; margin-bottom:30px">قوانین</h3>
			<h6>(آخرین به روز رسانی: 10/2/93)</h6>
			<hr>
			<div class="row">
				<div class="col-md-8">
					<ul>
						<li> لطفا قبل از استفاده از خدمات سایت زیرِند قوانین و شرایط استفاده از سایت را مطالعه فرمایید.</li>
						<li>این توافقنامه ممکن است به دلیل تغییر یا گسترش خدمات ما به روز شود. این به روز رسانی از طریق پروفایل کاربران به اطلاع آنان خواهد رسید.</li>
						<li> استفاده از خدمات این سایت مستلزم رعایت قوانین ذکر شده در این بخش می باشد. لطفا در صورتی که با هر یک از این قوانین موافقت ندارید استفاده از خدمات این سایت را متوقف کنید. عدم رعایت قوانین سایت منجر به بسته شدن حساب کاربری شما بدون اطلاع قبلی خواهد شد. </li>
					</ul>
				</div>
				<div class="col-md-4">
					<div class="panel panel-default">
						<div class="panel-body"> فهرست
							<hr>
							<ol>
								<li><a href="#b1">حساب کاربری</a></li>
								<li><a href="#b2">تحویل پروژه</a></li>
								<li><a href="#b3">مقررات پرداخت</a></li>
								<li><a href="#b4">ثبت بازخورد</a></li>
								<li><a href="#b5">لغو پروژه</a></li>
								<li><a href="#b6">اختلاف</a></li>
								<li><a href="#b7">تعرفه ها</a></li>
							</ol>
						</div>
					</div>
				</div>
				<h4 id="b1">1. حساب کاربری</h4>
				<ul>
					<li> برای استفاده از سیستم زیرِند , کاربران باید در سیستم ثبت نام کنند. </li>
					<li> ثبت نام در سیستم زیرِند باید با اطلاعات کاربری دقیق باشد و کاربران باید اطلاعات خود را به صورت همیشگی به روز نگاه دارند. </li>
					<li> هر دو کاربر پیمانکار و کارفرما از یک روش ثبت نام استفاده میکنند. </li>
					<li> هر حساب کاربری باید یک حساب کاربری شخصی باشد ولی کاربر ها میتوانند در غالب هر کمپانی یا شرکت یا تجارت خصوصی به امر انجام یا دریافت پروژه بپردازند. </li>
					<li> هر شخص حقیقی و حقوقی اجازه ساخت فقط یک اکانت را دارد. </li>
					<li> اطلاعاتی که در پروفایل شخصی کاربر درج میشود باید از قوانین زیرِند تبعیت کامل داشته باشند. </li>
					<li> زیرِند این حق را دارد که دسترسی شما را به سایت در هر لحظه و هر مکانی قطع کرده  یا اکانت شما را مسدود اعلام کند یا پروژه ای را متوقف سازد یا به هر پیمانکار یا کارفرمای دیگر در مورد عملکردهای شما پیغام دهد در صورتی که:
						<p>I.	شما از قوانین و شرایط سایت پیروی نکنید.</p>
						<p>II.	ما توانایی بررسی اطلاعاتی که شما در سایت قرار داده اید را نداشته باشیم.</p>
						<p>III.	ما متوجه شویم که عملیات شما ممکن است به سایت یا کاربران سایت خسارت وارد کند.</p>
					</li>
					<li> کاربران به صورت کامل در برابر عملیاتی که در حساب کاربری آنها صورت میگیرد مسئول هستند و زیرِند هیچ مسئولیتی در این باب به عهده نمی گیرد. </li>
					<li> کاربران سایت اجازه استفاده از اطلاعات شخصی یا حساب کاربری کاربران دیگر را ندارند.</li>
				</ul>
				<h4 id="b2">2. تحویل پروژه </h4>
				<ul>
					<li> کارفرما با قبول پیشنهاد باید مبلغ پیش پرداخت درخواست شده توسط پیمانکار را در سایت به امانت بگذارد. </li>
					<li> کارفرما باید انتظارات خود را به صورت دقیق برای پیمانکار توضیح دهد این توضیحات باید شامل موارد زیر باشد:
						<p>I.	زمان تحویل پروژه</p>
						<p>II.	توضیح دقیق تمام موضوعات قابل ذکر یا آوردن نمونه های مشابه</p>
					</li>
					<li> به محض این که پیمانکار موارد مورد انتظار کار فرما را دریافت نمود باید:
						<p>I.	ظرف یک روز کاری شروع به اجرای پروژه را تایید کند. عدم تایید پیمانکار در موعد مقرر به منزله انصراف از انجام پروژه خواهد بود و کارفرما می تواند درخواست استرداد پیش پرداخت را صادر کند.</p>
						<p>II.	به صورت منظم روند پیشرفت کار را به کارفرما اطلاع دهد و ظرف یک روز کاری به پیام های کارفرما پاسخ دهد.</p>
						<p>III.	در موعد مقرر پروژه را تکمیل کند.</p>
						<ul>
							<li>در صورتی که تحویل پروژه تا موعد مقرر امکان پذیر نباشد پیمانکار باید در اسرع وقت کارفرما را مطلع نماید تا مهلت تحویل پروژه را تمدید کند.</li>
							<li>در صورت عدم موافقت کارفرما با تمدید مهلت تحویل کارفرما می تواند پروژه را لغو کند و درخواست استرداد پیش پرداخت را صادر کند.</li>
							<li>تاخیر در تحویل پروژه و یا عدم تحویل آن باعث کاهش رتبه پیمانکار در سایت خواهد شد.</li>
						</ul>
					</li>
					<li> تمام ارتباطات مستقیم بین کارفرما و پیمانکار باید از طریق سایت صورت گیرد و در صورت بروز اختلاف این مکاتبات مبنای قضاوت قرار می گیرد. </li>
					<li> پس از اجرای پروژه و تحویل آن به کارفرما ، پیمانکار می تواند درخواست انتقال دستمزد به حساب خود را صادر کند:
						<p>I.	کارفرما باید ظرف 7 روز کاری به درخواست پیمانکار پاسخ دهد.</p>
						<p>II.	در صورتی که کارفرما انجام کامل پروژه را تایید نکند می تواند درخواست پیمانکار را رد کند. سپس کارفرما باید بازخورد دقیقی از کار انجام شده و علت رد درخواست را به پیمانکار اطلاع دهد. پیمانکار حق دارد حداقل یک بار پروژه را بر مبنای بازخورد کارفرما اصلاح کند. </p>
						<p>III.	در صورتی که کارفرما پس از 7 روز کاری در مورد درخواست پیمانکار هیچ اقدامی نکند پیش پرداخت پروژه به حساب پیمانکار منتقل می شود و حساب کاربری کارفرما به طور موقت یا دایم مسدود خواهد شد.</p>
					</li>
				</ul>
				<h4 id="b2-1">1.2. کیفیت</h4>
				<ul>
					<li>پیمانکاران باید پروژه را متناسب با انتظارات کارفرما تحویل دهند و باید اطمینان حاصل کنند که:
						<p>I.	پروژه تحویل داده شده بدون خطا باشد.</p>
						<p>II.	تمام موارد مورد انتظار کارفرما را به طور کاملا واضح در پروژه مشخص کند.</p>
						<p>III.	کیفیت پروژه انجام شده باید با سطح کیفی نمونه کار های ارایه شده توسط پیمانکار سازگار باشد.</p>
					</li>
				</ul>
				<h4 id="b2-2">2.2. نکات مهم و ضروری</h4>
				<ul>
					<li> قرار داد انجام پروژه بین کارفرما و پیمانکار منعقد می شود و زیرِند یکی از طرفین قرار داد نمیباشد. </li>
					<li> حق مالکیت بر موارد درون پروژه در صورت پرداخت به موقع و مناسب به کارفرما خواهد رسید . در صورت ایجاب توافقات دیگر از سوی طرفین این توافقات فقط ما بین طرفین بوده و زیرِند مسئولیتی درمورد این توافقات ندارد.</li>
					<li> با استفاده از امکانات سایت زیرِند شما تضمین کرده اید که:
						<p>I.	شما توانایی پرداخت هزینه ی پروژه ها در صورت کارفرما بودن و انجام پروژه هایی که قبول میکنید در صورت پیمانکار بودن را دارید. </p>
						<p>II.	شما این حق را ندارید که از یک شخص ثالث برای انجام دادن هرگونه عملیاتی از جمله بارگذاری , دریافت , فرستادن , تایید کردن  استفاده کنید. </p>
						<p>III.	شما به هیچ وجه اجازه پخش یا ایجاد سهولت در پخش اطلاعات تماس در طول خدماتی که زیرِند ارائه میدهد را ندارید و در صورت مشاهده توسط مسئولان سایت کاربر مربوطه از سایت اخراج شده و اجازه ی ورود دوباره به او داده نخواهد شد. </p>
					</li>
				</ul>
				<h4 id="b3">3. مقررات پرداخت</h4>
				<ul>
					<li> عملیات پرداخت طبق موارد مطرح شده در قسمت 2 برای یک پروژه هنگام کامل انجام شدن آن انجام خواهند شد. </li>
					<li> کابر کارفرما اجازه درخواست برای آزاد کردن پیش پرداخت را قبل از تمام شدن پروژه نخواهد داشت. </li>
					<li> هدف نگه داشتن پیش پرداخت کارفرما در سایت تضمین ایجاد کردن برای پیمانکار در باب بعهده گرفتن مخارج انجام پروژه است. </li>
					<li> پیمانکاران در صورت مشاهده میتوانند به مسئولان سایت اطلاع داده تا با بسته شدن حساب کاربری کارفرما به موضوع رسیدگی شود. </li>
					<li> همه ی پرداخت ها و جریان های مالی میان کارفرما و پیمانکار باید توسط زیرِند انجام شود در صورت متوجه شدن مسئولان سایت از هرگونه تماس طرفین خارج از سایت با دو کاربر به شدت برخورد خواهد شد. </li>
					<li> تمام پرداخت های کارفرما ها برای جلوگیری از خطا یا ضرر قبل از رسیدن مبلغ به پیمانکار به صورت روزانه توسط زیرِند چک میشود. زیرِند در راستای هدف انجام دادن عملیات مالی به صورت آنی تلاش میکند اگرچه زیرِند این حق را دارد که این کار را تا ۱۰ روز انجام دهد. </li>
					<li> هنگام استفاده از خدمات پیش پرداخت یا ضمانت زیرِند از یک اکانت جدا برای نگهداری مبالغ استفاده میکند. </li>
					<li> کاربرها بر روی مبالغی که در اکانت خود دارند سودی از طرف سایت دریافت نخواهند کرد. </li>
					<li> کاربرها در هر موقع توانایی واریز مبلغ از حساب مالی سایت به کارت بانکی خود هستند و این عملیات تا حداکثر  ۲۴ ساعت بعد از درخواست انجام خواهد شد. </li>
				</ul>
				<h4 id="b4">4.ثبت بازخورد</h4>
				<ul>
					<li> هنگامی که پروژه تمام میشود ,از هر دو طرف پروژه درخواست میشود که به طرف دیگر امتیازی از ۱ تا ۵ به موارد درج شده در سایت بدهد . این امتیاز های در رتبه بندی کاربر مورد نظر تاثیر خواهد داشت. </li>
					<li> طرفین پروژه باید عملیات رتبه بندی را به صورت صادقانه انجام دهند. کاربران اجازه تاثیر گزاری در رای یکدیگر با استفاده از تهدید در مورد مبلغ ودیعه یا ضمانت را ندارند. هر گونه عملکردی از این قبیل باید سریعا به زیرِند اطلاع داده شود. تا برخورد لازم انجام شود. </li>
					<li> نظرات و انتقادات پیشنهادی به ما اگر دارای مطالب توهین آمیز باشند حذف شده و اثر داده نخواهند شد. </li>
				</ul>
				<h4 id="b5">5. لغو پروژه</h4>
				<ul>
					<li> پس از شروع اجرای پروژه کارفرما یا پیمانکار ممکن است درخواست لغو پروژه را صادر کنند:
						<p>I.	درخواست کننده باید با ارسال پیام طرف دیگر را از لغو پروژه با خبر کند ، در صورت وجود پیش پرداخت در سایت و درصورتی که کارفرما خود را مستحق بازگشت پیش پرداخت بداند می تواند پیمانکار را با ثبت درخواست استرداد پیش پرداخت مطلع گرداند. </p>
						<p>II.	اگر کارفرما موفق به اطلاع پیمانکار نشود و در نتیجه پروژه به طور کامل انجام شود کارفرما باید هزینه انجام پروژه را پرداخت کند. </p>
					</li>
					<li> پس از اطلاع از درخواست لغو پروژه:
						<p>I.	پیمانکار باید بلافاصله دست از کار بکشد. </p>
						<p>II.	طرفین باید در مورد هزینه بخشی از کار که تا زمان لغو پروژه صورت گرفته است به توافق برسند. در صورتی که لغو پروژه تحت شرایط ذکر شده در بخش 6.2 نباشد پیمانکار می تواند درخواست پرداخت حداقل به اندازه پیش پرداخت موجود در سایت نماید. درخواست پرداخت پیمانکار بر اساس بخش 3 این فوانین صورت می گیرد. </p>
					</li>
				</ul>
				<h4 id="b5-1">1.5. سیاست استرداد پیش پرداخت</h4>
				<ul>
					<li> کارفرما تحت شرایط زیر مستحق استرداد پیش پرداخت است:
						<p>I.	عدم پاسخ پیمانکار ظرف یک روز کاری پس از شروع اجرای پروژه </p>
						<p>II.	عدم تحویل پروژه توسط پیمانکار در موعد مقرر </p>
						<p>III.	کیفیت نامطلوب پروژه :پس از حداقل یک بار تجدید نظر پیمانکار در پاسخ به بازخورد کارفرما کیفیت پروژه باید شرایط موجود در بخش 3.2 را برآورده کند. </p>
						<p>IV.	پیمانکار در اختلاف ایجاد شده شکست بخورد. </p>
					</li>
					<li> کارفرما و پیمانکار ممکن است طبق توافق و با دلایلی غیر از موارد ذکر شده بند قبل درخواست استرداد پیش پرداخت داشته باشند که در این موارد استرداد تنها پس از بررسی توسط زیرِند مطابق با بخش 6.3 امکان پذیر است. </li>
					<li> درخواست استرداد پیش پرداخت تنها برای وجه به امانت گذاشته شده در سایت امکان پذیر است. پیش پرداخت آزاد شده برای پیمانکار قابل استرداد نمی باشد. </li>
				</ul>
				<h4 id="b5-2">2.5. در خواست استرداد</h4>
				<ul>
					<li> کارفرما می تواند درخواست استرداد را با استفاده از لینک استرداد وجه اعلام کنند همچنین باید دلیل درخواست خود را ذکر کنند:
						<p>I.	پمانکار باید درخواست استرداد را قبول یا رد کند. در صورت رد درخواست توسط پیمانکار این رد درخواست به طور خودکار به عنوان یک اختلاف در نظر گرفته می شود و مطابق با بخش 7 پیگیری می شود. </p>
						<p>II.	اگر پمانکار ظرف 3 روز کاری به درخواست استرداد پاسخ ندهد زیرِند ممکن است بر اساس بند زیر پیش پرداخت را به طور خودکار برای کارفرما آزاد کند </p>
					</li>
					<li> زیرِند درخواست های استرداد تایید شده و بدون پاسخ را از نظر شرایط و دلایل درخواست مورد بررسی قرار میدهد تا اطمینان حاصل کند که طرفین به قوانین سایت پایبند هستند و هیچ یک از طرفین قصد خود داری از انجام تعهدات خود را ندارند. در صورتی که نقض قوانین سایت توسط طرفین محرز شود زیرِند ملزم به استرداد پیش پرداخت نیست. </li>
				</ul>
				<h4 id="b5-3">3.5. جرایم لغو پروژه و استرداد وجه</h4>
				<ul>
					<li> زیرِند به کاربران توصیه میکند تا حد امکان باعث لغو پروژه و استرداد وجه نشوند. استرداد وجه و لغو پروژه شدیدا بر رتبه کاربران در زیرِند تاثیر منفی دارد:
						<p>I.	اگر مقصر استرداد پیمانکار باشد ( برای مثال به دلیل عدم پاسخگویی ، کیفیت پایین کار یا لغو پروژه توسط آنها) امتیاز آنها در میان پیمانکاران کاهش می یابد. </p>
						<p>II.	اگر کارفرما مقصر استرداد باشد (برای مثال لغو پروژه پیش از موعد تحویل به دلیل تغییر نیاز آنها) امتیاز آنها در میان کارفرمایان کاهش می یابد. </p>
						<p>III.	درخواست های مکرر استرداد از طرف یک کاربر منجر به محدودیت موقت یا دایم در حساب کاربری او خواهد شد. </p>
					</li>
					<li> زیرِند درخواست های استرداد تایید شده و بدون پاسخ را از نظر شرایط و دلایل درخواست مورد بررسی قرار میدهد تا اطمینان حاصل کند که طرفین به قوانین سایت پایبند هستند و هیچ یک از طرفین قصد خود داری از انجام تعهدات خود را ندارند. در صورتی که نقض قوانین سایت توسط طرفین محرز شود زیرِند ملزم به استرداد پیش پرداخت نیست. </li>
				</ul>
				<h4 id="b6">6. اختلاف</h4>
				<ul>
					<li> زیرِند به پیمانکاران و کارفرمایان توصیه میکند که اختلافات را بین خودشان برطرف سازند در غیر این صورت می توانند یک اختلاف ثبت کنند. </li>
					<li> یک اختلاف به صورت های زیر فابل ثبت است:
						<p>I.	ثبت درخواست توسط پیمانکار پس از اینکه کارفرما درخواست پرداخت را رد نمود. </p>
						<p>II.	به صورت اتوماتیک از سوی پیمانکار در صورتی که تصمیم به رد درخواست استرداد ارسال شده توسط کارفرما بگیرد. </p>
					</li>
					<li> اگر مبلغ مورد اختلاف 100،000 تومان یا بیشتر باشد ممکن است زیرِند با وساطت بین طرفین سعی کند تا اختلاف به صورت توافقی برطرف گردد. </li>
					<li> تلاش زیرِند بر این است که ظرف مدت 7 روز برای اختلاف تصمیم گیری کند. در صورتی که در این مدت دو طرف به توافق برسند می توانند اختلاف را لغو کنند. </li>
					<li> در فرآیند قضاوت معیار تصمیم گیری تنها مکالمات و فعالیت های طرفین در اتاق کار پروژه می باشد و موارد زیر بررسی می گردد:
						<p>I.	حسن نیت طرفین و سعی بر حل مشکل بین خودشان قبل از ایجاد اختلاف در سایت ( حداقل یک بار تلاش دوباره برای اصلاح یا تکمیل پروژه) </p>
						<p>II.	تحویل پروژه بر اساس شرایط بخش 2 </p>
						<p>III.	در مورد اختلافاتی که به کیفیت کار مربوط است زیرِند رعایت معیار های کیفی تعیین شده در بخش 1.2 را توسط پیمانکار بررسی میکند. ارزیابی کیفیت در مواردی که به سلیقه شخصی افراد بستگی دارد امکان پذیر نخواهد بود.</p>
						<p>IV.	رعایت قوانین و مقررات سایت توسط طرفین </p>
					</li>
					<li>در صورتی که تصمیم گیری برای اختلاف به عهده زیرِند باشد نتیجه ظرف 14 روز از تاریخ ثبت اختلاف به اطلاع طرفین خواهد رسید. مبلغ مورد اختلاف بر اساس نتیجه قضاوت بین طرفین تقسیم خواهد شد. پس از انتشار نتیجه قضاوت زیرِند هیج مسئولیتی در قبال اختلاف مورد نظر ندارد. </li>
				</ul>
				<h4 id="b7">7. تعرفه ها</h4>
				<ul>
					<li>کارفرما:
						<p>ایجاد پروژه در زیرِند رایگان است. شما می توانید با یک حساب کاربری به تعداد نامحدود پروژه ایجاد کنید.
							کارفرما برای استفاده خدمات زیرِند هیج کمیسیونی پرداخت نمی کند.</p>
					</li>
					<li>پیمانکار:
						<p>ثبت پیشنهاد برای پروژه ها رایگان است. پیمانکاران می توانند برای هر پروژه یک پیشنهاد ارسال کنند و در صورت لزوم آن را ویرایش کنند.
							در صورتی که پیشنهاد پیمانکار توسط کارفرما انتخاب شود تغییر پیشنهاد امکان پذیر نخواهد بود.
							زیرِند 5 درصد یا 5000 تومان (هر کدام که بیشتر باشد) از درآمد پیمانکار را به عنوان کمیسیون خدمات خود دریافت می کند. این کمیسیون بلافاصله پس از انتقال پیش پرداخت به حساب
							پیمانکار از حساب وی کسر می گردد.</p>
					</li>
					<li>برداشت از حساب:
						<p> در صورتی که قصد برداشت وجه از حساب خود در سایت و انتقال آن به حساب بانکی خود را دارید می توانید از قسمت "حساب های مالی" اقدام کنید. انتقال وجه ظرف حداکثر 48 ساعت از زمان ثبت
							درخواست انجام خواهد شد.
							انتقال وجه از حساب شما در سایت به حساب بانکی شما صرف نظر از مبلغ آن با کارمزد ثابت 5000 ریال (تعرفه انتقال وجه بانکی) انجام خواهد شد.</p>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block javascript %} 
<script>
$(function() {
  $('a[href*=#]:not([href=#])').click(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
      if (target.length) {
        $('html,body').animate({
          scrollTop: target.offset().top-20
        }, 1000);
        return false;
      }
    }
  });
});

</script> 
{% endblock %} 